
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2 style="text-align:center;">ĐĂNG KÝ TÀI KHOẢN THÀNH CÔNG</h2>
<img style="width:350px; height:350px; text-align:center; margin-left:100px;" src="~/Image/success.jpg"/>
<h4><b><a href="@Url.Action("Index","Products")">Tiếp tục mua hàng</a></b></h4>
